openapi: 3.0.0
info:
  version: '1.0'
  title: Picsart GenAI Ads Image2Image / Inpainting API
  description: '[Official technical documentation portal](https://docs.picsart.io/)

    [Developer Guidelines](https://picsart.io/terms)

    '
servers:
- url: https://genai-api.picsart.io/v1
  description: Production
security:
- apiKey: []
tags:
- name: Image2Image / Inpainting
paths:
  /painting/edit:
    post:
      summary: Edit Image with a Prompt
      operationId: genai-image-edit
      description: 'Edit any image with a prompt. Apply any transformation, any type of detail you can imaging and the AI will apply it to the image.

        Choose from the big range of models if you have preferences or to take control of the output quality.

        '
      tags:
      - Image2Image / Inpainting
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageParameters'
              - $ref: '#/components/schemas/EditWithPromptParameters'
              - $ref: '#/components/schemas/WatermarkParameters'
              - $ref: '#/components/schemas/Image2ImageModels'
      responses:
        '200':
          $ref: '#/components/responses/InpaintingResultResponse'
        '202':
          $ref: '#/components/responses/InpaintingResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '431':
          $ref: '#/components/responses/431'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /painting/inpaint:
    post:
      summary: Inpaint Image
      operationId: genai-image-inpainting
      description: 'The **Inpainting** service offers inpainting (image2Image) capabilities, enabling users to fill or replace areas within an image based on specified criteria. It operates in two modes: * Single Image Mode: Submit one RGBA image. The API fills the specified inner area with content based on the prompt parameter. * Mask Mode: Along with the RGBA image, provide a mask of identical size and format. The API uses this mask to identify areas for inpainting with content determined by the prompt parameter.

        '
      tags:
      - Image2Image / Inpainting
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageParameters'
              - $ref: '#/components/schemas/MaskParameters'
              - $ref: '#/components/schemas/InpaintingParameters'
      responses:
        '200':
          $ref: '#/components/responses/InpaintingResultResponse'
        '202':
          $ref: '#/components/responses/InpaintingResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '431':
          $ref: '#/components/responses/431'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /painting/outpaint:
    post:
      summary: Outpaint Image
      operationId: genai-image-outpainting
      description: "The **Outpainting** service enables outpainting (image2image), allowing users to extend or replace specific parts of an image. This is a reversed form of the Inpainting service (drawing outside of the mask, not inside).\nIt supports two operational modes:\n  * Single Image Mode: Upload one RGBA image. The API enhances the outer area with content based on the prompt parameter.\n  * Mask Mode: Provide an RGBA image along with a mask of the same size. The API applies this mask to paint beyond the masked region, using content determined by the prompt parameter.\n"
      tags:
      - Image2Image / Inpainting
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageParameters'
              - $ref: '#/components/schemas/MaskParameters'
              - $ref: '#/components/schemas/InpaintingParameters'
      responses:
        '200':
          $ref: '#/components/responses/InpaintingResultResponse'
        '202':
          $ref: '#/components/responses/InpaintingResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '431':
          $ref: '#/components/responses/431'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /painting/remove-object:
    post:
      summary: Remove Object from an Image
      operationId: genai-remove-object
      description: 'This service allows to remove objects from the original image by providing a mask.

        Even though the same type of a result can also achieved via the [Inpainting](https://docs.picsart.io/reference/genai-image-inpainting) service, this service uses a specially trained model to provide fine tuned results.

        '
      tags:
      - Image2Image / Inpainting
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageParameters'
              - $ref: '#/components/schemas/MaskParameters'
              - $ref: '#/components/schemas/RemoveObjectParameters'
      responses:
        '200':
          $ref: '#/components/responses/ImageResponse'
        '202':
          $ref: '#/components/responses/InpaintingResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '431':
          $ref: '#/components/responses/431'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /painting/replace-background:
    post:
      summary: Smart Background
      operationId: genai-smart-background
      description: "The **Smart Background** service elevates photo customization to new heights by offering an innovative solution for altering the backdrop of images. Unlike the traditional \"Change Background\" feature accessed via the /removebg endpoint, where users must provide a specific image to serve as the new background, **Smart Background** harnesses the power of AI to generate a completely new backdrop based on user descriptions.\n  \nIn contrast, the /removebg endpoint's \"Change Background\" function requires a predetermined image to replace the original backdrop. While effective for straightforward substitutions, it lacks the flexibility and creative potential provided by \"Smart Background,\" where the possibilities for your photo's new setting are limited only by your imagination. Whether you're looking to transport your subjects to exotic locales, whimsical landscapes, or bespoke scenarios, \"Smart Background\" offers a tailored, AI-generated solution for every photo.\n  \nWith Smart Background, users have the unique opportunity to reimagine their photos by simply submitting an image along with a narrative of the desired background. Our advanced AI algorithms then work to seamlessly integrate a bespoke, contextually appropriate scene behind the subject of the photo. This not only allows for unparalleled personalization but also offers a creative freedom unmatched by conventional methods.\n"
      tags:
      - Image2Image / Inpainting
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageParameters'
              - $ref: '#/components/schemas/InpaintingParameters'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InpaintingResultResponse'
        '202':
          $ref: '#/components/responses/InpaintingResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '431':
          $ref: '#/components/responses/431'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /painting/expand:
    post:
      summary: Expand Image
      operationId: genai-expand-image
      description: "The **Image Expansion** service offers a groundbreaking functionality designed to enhance digital imagery by enabling users to enlarge any image to specific width and height dimensions. This sophisticated feature not only allows generative resizing but also provides the capability to specify the direction of expansion, ensuring that users have complete control over the final appearance of their images.\n  \nThis service is engineered to accommodate the need for larger image sizes without compromising on quality. The requirement that the specified width and height dimensions exceed the original image dimensions ensures that users can seamlessly scale their images up to meet various requirements, whether for professional presentations, digital marketing materials, web design, or personal use.\n"
      tags:
      - Image2Image / Inpainting
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageParameters'
              - $ref: '#/components/schemas/ExpandParameters'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/InpaintingResultResponse'
        '202':
          $ref: '#/components/responses/InpaintingResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '431':
          $ref: '#/components/responses/431'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /painting/bleed:
    post:
      summary: Generate Bleed
      operationId: genai-generate-image-bleed
      description: "This service offers a groundbreaking functionality designed to enhance digital imagery by enabling users to enlarge any image. \nThis service enlarges the original images and generates additional pixels around the original from all sides. This helps print original images without needing to cut part of it during the print production process. The generated bleed area is a continuation of the original image and will ensure a consistent and high cut quality.\n"
      tags:
      - Image2Image / Inpainting
      requestBody:
        content:
          multipart/form-data:
            schema:
              allOf:
              - $ref: '#/components/schemas/ImageParameters'
              - $ref: '#/components/schemas/BleedParameters'
        required: true
      responses:
        '200':
          $ref: '#/components/responses/ImageResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '431':
          $ref: '#/components/responses/431'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /painting/{inference_id}:
    get:
      summary: Get the results of the painting
      operationId: genai-image-inpainting-getresult
      description: 'Inpaint, Outpaint, Smart Background and Expand services can work asynchronously and expose an inference identifier that can be used later to fetch te results.

        Use this service to check up on the result.

        '
      parameters:
      - in: path
        name: inference_id
        schema:
          type: string
        required: true
        description: The painting inference identifier.
        example: 1116b57cb-1999-4bfd-8c42-c739a006a111
      tags:
      - Image2Image / Inpainting
      responses:
        '200':
          $ref: '#/components/responses/InpaintingResultResponse'
        '202':
          $ref: '#/components/responses/InpaintingResponse'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '402':
          $ref: '#/components/responses/402'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '405':
          $ref: '#/components/responses/405'
        '413':
          $ref: '#/components/responses/413'
        '415':
          $ref: '#/components/responses/415'
        '429':
          $ref: '#/components/responses/429'
        '431':
          $ref: '#/components/responses/431'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
components:
  schemas:
    InpaintingParameters:
      required:
      - prompt
      type: object
      properties:
        prompt:
          type: string
          description: The prompt.
        negative_prompt:
          type: string
          description: Deprecated. The negative prompt (don’t generate this type of images). Don't use the nagitve keywords such as 'no', e.g. don't use 'no distorted faces', use 'distorted faces'.
          deprecated: true
        count:
          type: integer
          description: The number of images to generate.
          example: 2
          minimum: 1
          maximum: 10
          default: 2
        format:
          type: string
          default: JPG
          enum:
          - JPG
          - PNG
          - WEBP
          description: "Optionally select one of the image formats (JPG is default). Options are as follows:\n  * JPG\n  * PNG\n  * WEBP\n"
        mode:
          type: string
          deprecated: true
          default: sync
          enum:
          - sync
          - async
          description: "Deprecated. The mode parameter is now deprecated. To control synchronous vs asynchronous execution, use the standard HTTP Prefer header (RFC 7240). If both mode and Prefer are provided, Prefer takes precedence. For migration guidance and examples, see the [Sync and Async Execution guide](https://docs.picsart.io/docs/sync-async-execution).\nUse this query parameter to establish the processing mode. Acceptable values are sync, async and auto (sync is default):\n  * sync: issues a synchronous request, response is given when the result is ready.\n  * async: forces an asynchronous request, the response, which is instantaneous, contains a \"transaction_id\" which is used to poll for the result.\n  * REMOVED - auto: the processing mode decision is made by the service, which depends upon the expected processing time.\n"
    MaskParameters:
      type: object
      properties:
        mask_image:
          description: Source mask file (binary). (If this parameter is present, the other mask source parameters must be empty.)
          type: string
          format: binary
        mask_image_url:
          type: string
          description: Source mask URL. (If this parameter is present, the other mask source parameters must be empty.)
          maxLength: 2083
          minLength: 1
          format: uri
        mask_image_id:
          type: string
          deprecated: true
          description: Deprecated. Source mask ID of an mask previously uploaded to Picsart or result mask ID from a different API. (If this parameter is present, the other mask source parameters must be empty.)
    EditWithPromptParameters:
      required:
      - prompt
      type: object
      properties:
        prompt:
          type: string
          description: The prompt.
        count:
          type: integer
          description: The number of images to generate.
          example: 2
          minimum: 1
          maximum: 10
          default: 2
        format:
          type: string
          default: JPG
          enum:
          - JPG
          - PNG
          - WEBP
          description: "Optionally select one of the image formats (JPG is default). Options are as follows:\n  * JPG\n  * PNG\n  * WEBP\n"
        mode:
          type: string
          deprecated: true
          default: sync
          enum:
          - sync
          - async
          description: "Deprecated. The mode parameter is now deprecated. To control synchronous vs asynchronous execution, use the standard HTTP Prefer header (RFC 7240). If both mode and Prefer are provided, Prefer takes precedence. For migration guidance and examples, see the [Sync and Async Execution guide](https://docs.picsart.io/docs/sync-async-execution).\nUse this query parameter to establish the processing mode. Acceptable values are sync, async and auto (sync is default):\n  * sync: issues a synchronous request, response is given when the result is ready.\n  * async: forces an asynchronous request, the response, which is instantaneous, contains a \"transaction_id\" which is used to poll for the result.\n  * REMOVED - auto: the processing mode decision is made by the service, which depends upon the expected processing time.\n"
    ExpandParameters:
      required:
      - prompt
      type: object
      properties:
        prompt:
          type: string
          description: The prompt.
        negative_prompt:
          type: string
          description: Deprecated. The negative prompt (don’t generate this type of images). Don't use the nagitve keywords such as 'no', e.g. don't use 'no distorted faces', use 'distorted faces'.
          deprecated: true
        width:
          type: integer
          description: Specify the width of the output image in pixels. The default is 1024 and the maximum acceptable value is 8000.
          default: 1024
          maximum: 8000
        height:
          type: integer
          description: Specify the width of the output image in pixels. The default is 1024 and the maximum acceptable value is 8000.
          default: 1024
          maximum: 8000
        direction:
          type: string
          default: center
          enum:
          - center
          - top-left
          - top-right
          - bottom-left
          - bottom-right
          description: "Use this parameter to define in which direction the source image should be expanded. Available values are:\n  * center: Add pixels and expand the image from all sides. The original image will remain in the center.\n  * top-left: Add pixels and expand to the top-left. The original image will remain the bottom-right corner.\n  * top-right: Add pixels and expand to the top-right. The original image will remain the bottom-left corner.\n  * bottom-left: Add pixels and expand to the bottom-left. The original image will remain the top-right corner.\n  * bottom-right:Add pixels and expand to the bottom-right. The original image will remain the top-left corner.\n"
        count:
          type: integer
          description: The number of images to generate.
          example: 2
          minimum: 1
          maximum: 2
          default: 2
        format:
          type: string
          default: JPG
          enum:
          - JPG
          - PNG
          - WEBP
          description: "Optionally select one of the image formats (JPG is default). Options are as follows:\n  * JPG\n  * PNG\n  * WEBP\n"
        mode:
          type: string
          deprecated: true
          default: sync
          enum:
          - sync
          - async
          - auto
          description: "Deprecated. The mode parameter is now deprecated. To control synchronous vs asynchronous execution, use the standard HTTP Prefer header (RFC 7240). If both mode and Prefer are provided, Prefer takes precedence. For migration guidance and examples, see the [Sync and Async Execution guide](https://docs.picsart.io/docs/sync-async-execution).\nUse this query parameter to establish the processing mode. Acceptable values are sync, async and auto (sync is default):\n  * sync: issues a synchronous request, response is given when the result is ready.\n  * async: forces an asynchronous request, the response, which is instantaneous, contains a \"transaction_id\" which is used to poll for the result.\n  * auto: the processing mode decision is made by the service, which depends upon the expected processing time.\n"
    BleedParameters:
      required:
      - bleed_size
      type: object
      properties:
        prompt:
          type: string
          description: The prompt. Only apply if you are confident the provided prompt is going to generate good results. Otherwise leave empty as the default prompt is already optimized for bleed generation.
        negative_prompt:
          type: string
          description: Deprecated. The negative prompt (don’t generate this type of images). Don't use the nagitve keywords such as 'no', e.g. don't use 'no distorted faces', use 'distorted faces'.
          deprecated: true
        bleed_size:
          type: integer
          description: 'Specify the bleed of the output image in pixels.

            When specifying the value, take into account the DPI of the image. For example, for 300DPI and the 0.125inches bleed, the value should be 300*0.125=37/38.

            '
          default: 5
          minimum: 1
          maximum: 75
        format:
          type: string
          default: JPG
          enum:
          - JPG
          - PNG
          - WEBP
          description: "Optionally select one of the image formats (JPG is default). Options are as follows:\n  * JPG\n  * PNG\n  * WEBP\n"
    RemoveObjectParameters:
      type: object
      properties:
        format:
          type: string
          default: JPG
          enum:
          - JPG
          - PNG
          - WEBP
          description: "Optionally select one of the image formats (JPG is default). Options are as follows:\n  * JPG\n  * PNG\n  * WEBP\n"
        mode:
          type: string
          deprecated: true
          default: sync
          enum:
          - sync
          - async
          - auto
          description: "Deprecated. The mode parameter is now deprecated. To control synchronous vs asynchronous execution, use the standard HTTP Prefer header (RFC 7240). If both mode and Prefer are provided, Prefer takes precedence. For migration guidance and examples, see the [Sync and Async Execution guide](https://docs.picsart.io/docs/sync-async-execution).\nUse this query parameter to establish the processing mode. Acceptable values are sync, async and auto (sync is default):\n  * sync: issues a synchronous request, response is given when the result is ready.\n  * async: forces an asynchronous request, the response, which is instantaneous, contains a \"transaction_id\" which is used to poll for the result.\n  * auto: the processing mode decision is made by the service, which depends upon the expected processing time.\n"
    WatermarkParameters:
      type: object
      properties:
        watermark_enabled:
          type: boolean
          default: false
          nullable: true
          description: 'Enables the watermark. This is primarily used to show that the image is AI-generated, but this can be used for other use cases as well.

            When enabled, the default watermark will be added. When customization is needed, follow other "watermark**" parameters.

            For more advanced watermarking, you can also check out the [Add Watermark](https://docs.picsart.io/reference/image-add-watermark) service.

            '
        watermark_url:
          type: string
          description: URL of the watermark image. If omitted or empty and watermark_enabled is true, a default watermark is applied.
          maxLength: 2083
          minLength: 1
          format: uri
          nullable: true
        watermark_anchor_point:
          type: string
          default: left-bottom
          enum:
          - left-top
          - left-middle
          - left-bottom
          - center-top
          - center-middle
          - center-bottom
          - right-top
          - right-middle
          - right-bottom
          - pattern
        watermark_width:
          type: integer
          minimum: 1
          nullable: true
          description: Width of watermark.
        watermark_height:
          type: integer
          minimum: 1
          nullable: true
          description: Height of watermark.
        watermark_opacity:
          type: integer
          nullable: true
          default: 50
          minimum: 0
          maximum: 100
          description: 'Define the opacity of the watermark. Takes values from 0 to 100. Default is 100 (opaque). Set to 0 to make it transparent.

            '
        watermark_angle:
          type: integer
          minimum: 0
          maximum: 360
          nullable: true
          description: 'Define the angle of the watermark. Takes values from 0 to 360. Default 45 for pattern case, otherwise 0.

            '
        watermark_padding_x:
          type: integer
          minimum: 0
          default: 0
          nullable: true
          description: 'Define the horizontal padding of the watermark.

            '
        watermark_padding_y:
          type: integer
          minimum: 0
          default: 0
          nullable: true
          description: 'Define the vertical padding of the watermark.

            '
    Image2ImageModels:
      type: object
      properties:
        model:
          type: string
          enum:
          - urn:air:sdxl:model:fluxai:flux_kontext_max-image-to-image@1
          - urn:air:sdxl:model:fluxai:flux_kontext_pro-image-to-image@1
          - urn:air:fluxai:model:fluxai:flux-2-flex-image-to-image@1
          - urn:air:fluxai:model:fluxai:flux-2-pro-image-to-image@1
          - urn:air:fluxai:model:fluxai:flux-2-max-image-to-image@1
          - urn:air:seedream:model:seedream:seedream-4.0-image-to-image@1
          - urn:air:seedream:model:seedream:seedream-4.5-image-to-image@1
          - urn:air:seedream:model:seedream:seedream-5.0-lite-image-to-image@1
          - urn:air:google:model:google:gemini-2.5-flash-image-image-to-image@1
          - urn:air:google:model:google:gemini-3-pro-image-preview-image-to-image@1
          - urn:air:google:model:google:gemini-3.1-flash-image-preview-image-to-image@1
          - urn:air:google:model:google:gemini-3.1-pro-preview-image-to-image@1
          - urn:air:openai:model:openai:gpt-image-1-image-to-image@1
          - urn:air:reve:model:reve:reve-edit-image-to-image@1
          - urn:air:runway:model:runway:gen4-image-ref-image-to-image@1
          - urn:air:qwen:model:qwen:qwen-image-image-to-image@1
          - urn:air:qwen:model:qwen:qwen-image-edit-plus-image-to-image@1
          - urn:air:xai:model:xai:grok-imagine-image-edit-image-to-image@1
          nullable: true
          default: urn:air:sdxl:model:fluxai:flux_kontext_max-image-to-image@1
          description: 'Optionally choose a specific AI model to use for this request.

            If not specified, a default model will be applied. Please note that the default model may change over time as Picsart continues to improve performance and accuracy. Any change to the default will be made only after thorough testing and validation to ensure it delivers better results.

            If you require consistent behavior or wish to evaluate different models on your own, we recommend explicitly setting this parameter.

            '
    ImageParameters:
      type: object
      properties:
        image:
          description: Source image file (binary). (If this parameter is present, the other image source parameters must be empty.)
          type: string
          format: binary
        image_url:
          type: string
          description: Source image URL. (If this parameter is present, the other image source parameters must be empty.)
          maxLength: 2083
          minLength: 1
          format: uri
        image_id:
          type: string
          deprecated: true
          description: Deprecated. Source image ID of an image previously uploaded to Picsart or result image ID from a different API. (If this parameter is present, the other image source parameters must be empty.)
    Error:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        detail:
          type: string
      required:
      - detail
  responses:
    ImageResponse:
      description: Success.
      content:
        application/json:
          schema:
            type: object
            properties:
              data:
                type: object
                properties:
                  id:
                    type: string
                    nullable: true
                  url:
                    type: string
                    nullable: false
              status:
                type: string
                nullable: false
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '402':
      description: Payment Required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '413':
      description: Request Entity Too Large
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '401':
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '431':
      description: Request Header Fields Too Large
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '405':
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '404':
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '415':
      description: Unsupported Media Type
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    InpaintingResultResponse:
      description: Success.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
              data:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      nullable: true
                    url:
                      type: string
                      nullable: false
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '429':
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '403':
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '503':
      description: Service Unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    InpaintingResponse:
      description: Processing.
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: string
                nullable: false
              inference_id:
                type: string
                nullable: true
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '400':
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
    '500':
      description: Internal Server Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
      headers:
        X-Picsart-Correlation-Id:
          schema:
            type: string
          description: The id which will help for troubleshooting request chain in the system.
        X-Picsart-Ratelimit-Available:
          schema:
            type: integer
          description: The number of available calls within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Limit:
          schema:
            type: integer
          description: The total number of requests that can be done within the timeframe. See the X-Picsart-Ratelimit-Reset-Time.
        X-Picsart-Ratelimit-Reset-Time:
          schema:
            type: integer
          description: The time when the used request count resets and the number of available calls gets equal to the total number.
        X-Picsart-Credit-Available:
          schema:
            type: integer
          description: The remaining number of the credits on the balance.
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: X-Picsart-API-Key
